@font-face {
    font-family: 'Volkhov';
    src: url('./Volkhov-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Volkhov';
    src: url('./Volkhov-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Volkhov';
    src: url('./Volkhov-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Volkhov';
    src: url('./Volkhov-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}